doctype 5
html(ng-app="myApp")
  head
    title Monitor
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/scripts/angular.min.js')
    script(src='/scripts/app.js')
    script(src='/scripts/controllers.js')
    script(src='/scripts/directives.js')
    script(src='/scripts/filters.js')
    script(src='/scripts/services.js')
  body
    div(ng-view)
